.size-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  
    .size-menu-item {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
    .image{
      background-color: #b0acac;
      padding: 15px;
      margin: 0%;
    }
    #lg-image{
      height: 200px;
      padding: 20px;
    }
    #sm-image{
      height: 50px;
    }
    #text{
      margin: 0%;
    }
    h3{
      margin-top: 25px;
      margin-bottom: 0px;
      font-weight: bold;
    }
    h6{
      font-weight: bold;
      margin: 0%;
    }
    h4{
      margin: 0%;
    }
}
.main{
    margin-left: 20%;
    padding: 8px 0px 0px 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 78%;
}
.main{
    .image{
        background-color: #b0acac;
        padding: 20px;
        margin: 0%;
        height: 200px;
        margin-bottom: 15px;
    }
    p{
        margin: 0%;
    }
    #text{
        margin-bottom: 60px;
    }
    h3{
        margin-top: 25px;
        margin-bottom: 15px;
        font-weight: bold;
    }
    h6{
        font-weight: bold;
        padding-bottom: 10px;
      
    }
    h4{
        margin: 0%;
    }
}
  
@media (max-width: 600px) {
    .size-menu{
        width: 100%;
        position: relative;
    }
    .navbar {
        text-align: center !important;
        justify-content: center;
    }
    
    .navbar-item {
        display: block;
        padding: 10px;
        text-align: center !important;
    }
    .main{
        padding: 20px;
        margin: 0%;
    }
}
    